{% extends "base.html" %}
{% block title %}Regression{% endblock %}

{% block body %}
<section class="section_hero">
    <div class="u-nav-spacer"></div>
    <div class="padding-global padding-horizontal-m-0">
        <div class="container-large">
            <div class="hero_grid">
                <div id="w-node-c869799b-6932-d519-9c89-71bb5ca2042b-5ca20426" data-w-id="c869799b-6932-d519-9c89-71bb5ca2042b" class="hero_content">
                    <div id="w-node-c869799b-6932-d519-9c89-71bb5ca2042c-5ca20426">
                        <div id="w-node-c869799b-6932-d519-9c89-71bb5ca2042f-5ca20426" class="padding-bottom padding-xsmall"></div>
                        <div class="padding-bottom padding-medium"></div>
                    <div data-w-id="6695d41a-66a7-37c5-93fd-b58b5568e196" class="w-dyn-list">
                        <div role="list" class="cards_grid w-dyn-items">
                            <div role="listitem" class="card_grid_inner w-dyn-item">
                                <a id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e199-5568e196" data-w-id="6695d41a-66a7-37c5-93fd-b58b5568e199" href="{{ url_for('regression.index')}}" class="card-regular w-inline-block">
                                    <div class="card-inner">
                                        <div class="card-header">
                                            <div class="card_icon_wr">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e16f286a17acea46d284b9_Business%20Website%20Audit-1.svg" alt="" class="card_icon-default"/>
                                                <img src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e16f22db56b5a9122d93f2_Business%20Website%20Audit.svg" loading="lazy" alt="" class="card_icon-hover"/>
                                            </div>
                                            <h3 class="heading-style-h3">Unvaliable</h3>
                                        </div>
                                        <div id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e1a0-5568e196" class="card-content-wrapper">
                                            <p class="text-lighter">#####################</p>
                                            <div class="text-align-left card-button-wrapper">
                                                <div class="button is-grid-button">
                                                    <div>Models</div>
                                                    <div class="icon-1x1-small w-embed">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                                            <path d="M4.16675 10.5H15.8334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M10 4.66663L15.8333 10.5L10 16.3333" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}