
{% extends "base.html" %}
    {% block body %}
    <div class="page-wrapper">
    <div class="global-styles w-embed">
    </div>
    <main class="main-wrapper">
        <section class="section_hero">
            <div class="u-nav-spacer"></div>
            <div class="padding-global padding-horizontal-m-0">
                <div class="container-large">
                    <div class="hero_grid">
                        <div id="w-node-c869799b-6932-d519-9c89-71bb5ca2042b-5ca20426" data-w-id="c869799b-6932-d519-9c89-71bb5ca2042b" class="hero_content">
                            <div id="w-node-c869799b-6932-d519-9c89-71bb5ca2042c-5ca20426">
                                <div id="w-node-c869799b-6932-d519-9c89-71bb5ca2042d-5ca20426" class="title-small is-neon">Empower Your Brand</div>
                                <div id="w-node-c869799b-6932-d519-9c89-71bb5ca2042f-5ca20426" class="padding-bottom padding-xsmall"></div>
                                <h1 id="w-node-c869799b-6932-d519-9c89-71bb5ca20430-5ca20426" class="text-color-white heading-style-h2">Unlock AI Power with Erif</h1>
                                <div class="padding-bottom padding-xsmall"></div>
                                <p class="body_one">
                                    Harness the Future with Cutting-Edge AI Models
                                    At Erif, we specialize in delivering powerful AI solutions tailored to your needs. From predictive analytics to advanced machine learning models, our expert-driven strategies will transform your business and accelerate your growth. Let’s shape your AI-powered future together.</p>
                            </div>
                            <div id="w-node-c869799b-6932-d519-9c89-71bb5ca20435-5ca20426">
                                <a href="{{ url_for('main.about_us') }}" class="button is-medium w-button">Know More</a>
                            </div>
                        </div>
                        <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66daf04cdd9961dbd9f29402_Hero_Thumbnail.avif" loading="lazy" data-w-id="c869799b-6932-d519-9c89-71bb5ca20438" alt="Team standing happily" sizes="(max-width: 991px) 100vw, (max-width: 1279px) 45vw, 508px" srcset="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66daf04cdd9961dbd9f29402_Hero_Thumbnail-p-500.avif 500w, https://cdn.prod.website-files.com/66d714555784f849823be7fa/66daf04cdd9961dbd9f29402_Hero_Thumbnail.avif 786w" class="hero_image object-position-left"/>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="padding-global padding-section-large-xx">
                <div class="container-large">
                    <div data-w-id="4aefd6d9-ac0e-76a7-a5bc-cda80f4144db" class="title_block">
                        <div id="w-node-_4aefd6d9-ac0e-76a7-a5bc-cda80f4144dc-0f4144db" class="title-small">Models</div>
                        <div class="padding-top padding-xsmall"></div>
                        <div class="title-row">
                            <h2>What AI branches do we offer</h2>
                            <div class="title_block-right">
                                <p class="body_one-dark">See how our tailored solutions can boost your business. From planning to support, we provide the expertise to drive your success.</p>
                                <div class="padding-bottom padding-regular"></div>
                                <a href="{{ url_for('main.models')}}" class="text-link-dark">All models</a>
                            </div>
                        </div>
                    </div>
                    <div class="padding-bottom padding-medium"></div>
                    <div data-w-id="6695d41a-66a7-37c5-93fd-b58b5568e196" class="w-dyn-list">
                        <div role="list" class="cards_grid w-dyn-items">
                            <div role="listitem" class="card_grid_inner w-dyn-item">
                                <a id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e199-5568e196" data-w-id="6695d41a-66a7-37c5-93fd-b58b5568e199" href="{{ url_for('regression.index') }}" class="card-regular w-inline-block">
                                    <div class="card-inner">
                                        <div class="card-header">
                                            <div class="card_icon_wr">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e16f286a17acea46d284b9_Business%20Website%20Audit-1.svg" alt="" class="card_icon-default"/>
                                                <img src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e16f22db56b5a9122d93f2_Business%20Website%20Audit.svg" loading="lazy" alt="" class="card_icon-hover"/>
                                            </div>
                                            <h3 class="heading-style-h3">Regression</h3>
                                        </div>
                                        <div id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e1a0-5568e196" class="card-content-wrapper">
                                            <p class="text-lighter">Used to predict a continuous value based on input data, like house price.</p>
                                            <div class="text-align-left card-button-wrapper">
                                                <div class="button is-grid-button">
                                                    <div>Models</div>
                                                    <div class="icon-1x1-small w-embed">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                                            <path d="M4.16675 10.5H15.8334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M10 4.66663L15.8333 10.5L10 16.3333" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="card_grid_inner w-dyn-item">
                                <a id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e199-5568e196" data-w-id="6695d41a-66a7-37c5-93fd-b58b5568e199" href="{{ url_for('classification.index') }}" class="card-regular w-inline-block">
                                    <div class="card-inner">
                                        <div class="card-header">
                                            <div class="card_icon_wr">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e1708ffc5600d27d5aa884_Strategic%20Website%20Planning-1.svg" alt="" class="card_icon-default"/>
                                                <img src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e1709579c08cac4523c742_Strategic%20Website%20Planning.svg" loading="lazy" alt="" class="card_icon-hover"/>
                                            </div>
                                            <h3 class="heading-style-h3">Classification</h3>
                                        </div>
                                        <div id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e1a0-5568e196" class="card-content-wrapper">
                                            <p class="text-lighter">Used to categorize data into discrete classes or labels, like email filtering(spam or not spam).</p>
                                            <div class="text-align-left card-button-wrapper">
                                                <div class="button is-grid-button">
                                                    <div>Models</div>
                                                    <div class="icon-1x1-small w-embed">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                                            <path d="M4.16675 10.5H15.8334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M10 4.66663L15.8333 10.5L10 16.3333" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="card_grid_inner w-dyn-item">
                                <a id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e199-5568e196" data-w-id="6695d41a-66a7-37c5-93fd-b58b5568e199" href="{{ url_for('cv.index') }}" class="card-regular w-inline-block">
                                    <div class="card-inner">
                                        <div class="card-header">
                                            <div class="card_icon_wr">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e1710dbe0e0e54b0545be5_Competitive%20Analysis-1.svg" alt="" class="card_icon-default"/>
                                                <img src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e17117fa1918813c11b4b8_Competitive%20Analysis.svg" loading="lazy" alt="" class="card_icon-hover"/>
                                            </div>
                                            <h3 class="heading-style-h3">Computer Vision (CV) </h3>
                                        </div>
                                        <div id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e1a0-5568e196" class="card-content-wrapper">
                                            <p class="text-lighter">Designed to interpret and understand visual information from the world.</p>
                                            <div class="text-align-left card-button-wrapper">
                                                <div class="button is-grid-button">
                                                    <div>Models</div>
                                                    <div class="icon-1x1-small w-embed">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                                            <path d="M4.16675 10.5H15.8334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M10 4.66663L15.8333 10.5L10 16.3333" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="card_grid_inner w-dyn-item">
                                <a id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e199-5568e196" data-w-id="6695d41a-66a7-37c5-93fd-b58b5568e199" href="{{ url_for('nlp.index') }}" class="card-regular w-inline-block">
                                    <div class="card-inner">
                                        <div class="card-header">
                                            <div class="card_icon_wr">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e17260f208bf21b5bcf9a6_CRO.svg" alt="" class="card_icon-default"/>
                                                <img src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e172497b3211fdc31d4ac7_CRO-1.svg" loading="lazy" alt="" class="card_icon-hover"/>
                                            </div>
                                            <h3 class="heading-style-h3">Natural Language Processing (NLP)</h3>
                                        </div>
                                        <div id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e1a0-5568e196" class="card-content-wrapper">
                                            <p class="text-lighter">Used to analyze and understand human language.</p>
                                            <div class="text-align-left card-button-wrapper">
                                                <div class="button is-grid-button">
                                                    <div>Models</div>
                                                    <div class="icon-1x1-small w-embed">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                                            <path d="M4.16675 10.5H15.8334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M10 4.66663L15.8333 10.5L10 16.3333" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="card_grid_inner w-dyn-item">
                                <a id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e199-5568e196" data-w-id="6695d41a-66a7-37c5-93fd-b58b5568e199" href="{{ url_for('genai.index') }}" class="card-regular w-inline-block">
                                    <div class="card-inner">
                                        <div class="card-header">
                                            <div class="card_icon_wr">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e1758e79c08cac4528822a_Brand%20Positioning%20and%20Messaging-1.svg" alt="" class="card_icon-default"/>
                                                <img src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e17566fc5600d27d5f278c_Brand%20Positioning%20and%20Messaging.svg" loading="lazy" alt="" class="card_icon-hover"/>
                                            </div>
                                            <h3 class="heading-style-h3">Generative AI</h3>
                                        </div>
                                        <div id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e1a0-5568e196" class="card-content-wrapper">
                                            <p class="text-lighter">Capable of creating new content based on learned patterns from existing data.</p>
                                            <div class="text-align-left card-button-wrapper">
                                                <div class="button is-grid-button">
                                                    <div>Models</div>
                                                    <div class="icon-1x1-small w-embed">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                                            <path d="M4.16675 10.5H15.8334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M10 4.66663L15.8333 10.5L10 16.3333" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="card_grid_inner w-dyn-item">
                                <a id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e199-5568e196" data-w-id="6695d41a-66a7-37c5-93fd-b58b5568e199" href="{{ url_for('ts.index') }}" class="card-regular w-inline-block">
                                    <div class="card-inner">
                                        <div class="card-header">
                                            <div class="card_icon_wr">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e1708ffc5600d27d5aa884_Strategic%20Website%20Planning-1.svg" alt="" class="card_icon-default"/>
                                                <img src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e1709579c08cac4523c742_Strategic%20Website%20Planning.svg" loading="lazy" alt="" class="card_icon-hover"/>
                                           
                                           </div>
                                            <h3 class="heading-style-h3">Time Series</h3>
                                        </div>
                                        <div id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e1a0-5568e196" class="card-content-wrapper">
                                            <p class="text-lighter">Used to analyze data points collected or recorded at specific time intervals.</p>
                                            <div class="text-align-left card-button-wrapper">
                                                <div class="button is-grid-button">
                                                    <div>Models</div>
                                                    <div class="icon-1x1-small w-embed">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                                            <path d="M4.16675 10.5H15.8334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M10 4.66663L15.8333 10.5L10 16.3333" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="card_grid_inner w-dyn-item">
                                <a id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e199-5568e196" data-w-id="6695d41a-66a7-37c5-93fd-b58b5568e199" href="{{ url_for('rl.index') }}" class="card-regular w-inline-block">
                                    <div class="card-inner">
                                        <div class="card-header">
                                            <div class="card_icon_wr">
                                                <img loading="lazy" src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e1708ffc5600d27d5aa884_Strategic%20Website%20Planning-1.svg" alt="" class="card_icon-default"/>
                                                <img src="https://cdn.prod.website-files.com/66e11e76591bba0feb6049e0/66e1709579c08cac4523c742_Strategic%20Website%20Planning.svg" loading="lazy" alt="" class="card_icon-hover"/>
                                            </div>
                                            <h3 class="heading-style-h3">Reinforcement Learning</h3>
                                        </div>
                                        <div id="w-node-_6695d41a-66a7-37c5-93fd-b58b5568e1a0-5568e196" class="card-content-wrapper">
                                            <p class="text-lighter"> Learn how to make decisions by trying out different actions and receiving feedback (rewards or penalties).</p>
                                            <div class="text-align-left card-button-wrapper">
                                                <div class="button is-grid-button">
                                                    <div>Models</div>
                                                    <div class="icon-1x1-small w-embed">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                                            <path d="M4.16675 10.5H15.8334" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M10 4.66663L15.8333 10.5L10 16.3333" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--
        <section class="counters padding-section-medium">
            <div class="padding-global">
                <div class="container-large">
                    <div class="counter-grid">
                        <div data-w-id="e38437d7-6d75-8391-6b5c-b69fcd84560b" class="counter-grid-col">
                            <h3 class="counter-title">
                                <strong>100+</strong>
                            </h3>
                            <p class="paragraph-medium-lighter is-counter">Projects Completed</p>
                        </div>
                        <div id="w-node-e38437d7-6d75-8391-6b5c-b69fcd845611-cd845607" data-w-id="e38437d7-6d75-8391-6b5c-b69fcd845611" class="counter-grid-col">
                            <h3 class="counter-title">
                                <strong>95%</strong>
                            </h3>
                            <p class="paragraph-medium-lighter is-counter">Client Satisfaction</p>
                        </div>
                        <div data-w-id="e38437d7-6d75-8391-6b5c-b69fcd845617" class="counter-grid-col">
                            <h3 class="counter-title">
                                <strong>$50M+</strong>
                            </h3>
                            <p class="paragraph-medium-lighter is-counter">Revenue Generated</p>
                        </div>
                        <div data-w-id="e38437d7-6d75-8391-6b5c-b69fcd84561d" class="counter-grid-col">
                            <h3 class="counter-title">
                                <strong>90%</strong>
                            </h3>
                            <p class="paragraph-medium-lighter is-counter">Project Success Rate</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="padding-section-large-xx sectors">
            <div class="padding-global">
                <div class="container-large">
                    <div data-w-id="4aefd6d9-ac0e-76a7-a5bc-cda80f4144db" class="title_block">
                        <div id="w-node-_4aefd6d9-ac0e-76a7-a5bc-cda80f4144dc-0f4144db" class="title-small">Sectors</div>
                        <div class="padding-top padding-xsmall"></div>
                        <div class="title-row">
                            <h2>Our Expertise Across Various Economic Sectors</h2>
                            <div class="title_block-right">
                                <div class="padding-bottom padding-regular"></div>
                            </div>
                        </div>
                    </div>
                    <div class="padding-bottom padding-medium"></div>
                    <div data-w-id="73d25ef8-c405-6595-21b7-1811500b852b" class="four_column_grid">
                        <div data-w-id="73d25ef8-c405-6595-21b7-1811500b852c" class="sector_thumbnail">
                            <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66e966a6a3d43121062e57f1_Technology.avif" loading="lazy" alt="Man shaking hands with Robot" sizes="(max-width: 479px) 45vw, (max-width: 991px) 200px, (max-width: 1279px) 22vw, 251px" srcset="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66e966a6a3d43121062e57f1_Technology-p-500.avif 500w, https://cdn.prod.website-files.com/66d714555784f849823be7fa/66e966a6a3d43121062e57f1_Technology.avif 502w" class="aspect-ratio-large"/>
                            <div class="sector_thumbnail-overlay">`</div>
                            <h3 class="sector_thumbnail-title">Technology</h3>
                        </div>
                        <div data-w-id="73d25ef8-c405-6595-21b7-1811500b8531" class="sector_thumbnail">
                            <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66e98249f0cec8de86121002_Education%20(6).avif" loading="lazy" alt="Doctor in mask" class="aspect-ratio-large"/>
                            <div class="sector_thumbnail-overlay"></div>
                            <h3 class="sector_thumbnail-title">Healthcare</h3>
                        </div>
                        <div data-w-id="73d25ef8-c405-6595-21b7-1811500b8536" class="sector_thumbnail">
                            <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66e98273242bf7cb2acb900c_Financial_services.avif" loading="lazy" alt="Financial Services" class="aspect-ratio-large"/>
                            <div class="sector_thumbnail-overlay"></div>
                            <h3 class="sector_thumbnail-title">Financial Services</h3>
                        </div>
                        <div data-w-id="73d25ef8-c405-6595-21b7-1811500b853b" class="sector_thumbnail">
                            <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66e982be6bac94f289aa76ce_manufacturing-1.avif" loading="lazy" alt="Manufacturing" class="aspect-ratio-large"/>
                            <div class="sector_thumbnail-overlay"></div>
                            <h3 class="sector_thumbnail-title">Manufacturing</h3>
                        </div>
                        <div data-w-id="73d25ef8-c405-6595-21b7-1811500b8540" class="sector_thumbnail">
                            <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66e982ebadba9337e41d327d_retail-sale.avif" loading="lazy" alt="Retail sale" class="aspect-ratio-large"/>
                            <div class="sector_thumbnail-overlay"></div>
                            <h3 class="sector_thumbnail-title">Retail</h3>
                        </div>
                        <div data-w-id="73d25ef8-c405-6595-21b7-1811500b8545" class="sector_thumbnail">
                            <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66e983170c8ec83c62dae0eb_Energy-1.avif" loading="lazy" alt="Energy generating resources like windmill solar panel with evening shadow" class="aspect-ratio-large"/>
                            <div class="sector_thumbnail-overlay"></div>
                            <h3 class="sector_thumbnail-title">Energy</h3>
                        </div>
                        <div data-w-id="73d25ef8-c405-6595-21b7-1811500b854a" class="sector_thumbnail">
                            <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66e983467cdaf10631c60dbe_Education%20(4).avif" loading="lazy" alt="Real Estate Building near swimming pull" class="aspect-ratio-large"/>
                            <div class="sector_thumbnail-overlay"></div>
                            <h3 class="sector_thumbnail-title">Real Estate</h3>
                        </div>
                        <div data-w-id="73d25ef8-c405-6595-21b7-1811500b854f" class="sector_thumbnail">
                            <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66e9838144b82f18122328fd_Education%20(9).avif" loading="lazy" alt="Education Image" class="aspect-ratio-large"/>
                            <div class="sector_thumbnail-overlay"></div>
                            <h3 class="sector_thumbnail-title">Education</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        -->
{% endblock %} 