<!DOCTYPE html>
<html data-wf-domain="zeal-consult-template.webflow.io" data-wf-page="66d714565784f849823be852" data-wf-site="66d714555784f849823be7fa" data-wf-status="1" lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8"/>

        <title>{% block title %}Erif{% endblock %}</title>
        <meta content="Elevate your business with expert website audits, strategic planning, and digital marketing solutions designed to drive growth and success." name="description"/>
       
        <meta content="Erif" property="og:title"/>
        <meta content="Elevate your business with expert website audits, strategic planning, and digital marketing solutions designed to drive growth and success." property="og:description"/>
        <meta content="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66f15a07a91a9c050c0700d0_Info%20Graphics.jpg" property="og:image"/>
        
        <meta content="Zeal Consult - Webflow HTML website template" property="twitter:title"/>
        <meta content="Elevate your business with expert website audits, strategic planning, and digital marketing solutions designed to drive growth and success." property="twitter:description"/>
        <meta content="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66f15a07a91a9c050c0700d0_Info%20Graphics.jpg" property="twitter:image"/>

        <meta property="og:type" content="website"/>
        <meta content="summary_large_image" name="twitter:card"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>

        <link href="https://cdn.prod.website-files.com/66d714555784f849823be7fa/css/zeal-consult-template.webflow.68cca8411.min.css" rel="stylesheet" type="text/css"/>
        
        <link rel="icon" href="{{ url_for('static',filename='main/img/favicon.png')}}" type="image/png">
        <script src="{{ url_for('static',filename='main/js/scripts.js')}}" defer></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='static/main/css/styles.css')}}">

        {% endblock %}
    </head>
    <body>
        <div class="nav_fixed">
            <div data-animation="default" class="nav_component w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" data-ix="navigatio-open-and-close" data-w-id="396176c6-906a-9f74-c6d0-8a4663dfdea9" role="banner" data-duration="400">
                <div class="nav_container">
                    <a href="/" aria-current="page" class="nav_brand w-nav-brand w--current">
                        <img src="{{ url_for('static',filename='main/img/Erif_AI.png')}}" loading="lazy" alt="Zeal Consult Template"  class="img-responsive" />
                    </a>
                    <nav role="navigation" class="nav_menu w-nav-menu">
                        <div class="nav_menu_container">
                            <div class="nav-menu-inner">
                                <a href="/" aria-current="page" class="nav_menu_link w-nav-link w-nav-link">Home</a>
                                <a href="/models" class="nav_menu_link w-nav-link">Models</a>
                                <a href="/about-us" class="nav_menu_link w-nav-link">About</a>
                            </div>
                            <a href="https://x.com/Ame44i" target="_blank" class="button is-nav w-button">Get in Touch</a>
                            <div class="nav-btn-wrapper"></div>
                        </div>
                    </nav>
                    <div class="nav_button w-nav-button" data-ix="navigatio-open-and-close">
                        <div class="nav_lines_icon">
                            <div class="nav_menu-lines">
                                <div class="nav_lines-one"></div>
                                <div class="nav_lines-two"></div>
                                <div class="nav_lines-three"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block body %} {% endblock %}
            <footer data-w-id="2c84d97c-00bc-8131-9da7-85de9c21320c" class="footer_component">
                <div data-w-id="2c84d97c-00bc-8131-9da7-85de9c21320d" class="gradient-patch hide"></div>
                <div class="padding-global position-relative">
                    <div class="container-large">
                        <div class="footer_comp-grid">
                            <div class="footer_col is-one">
                                <a href="/" aria-current="page" class="footer-brand w-inline-block w--current">
                                    <img src="{{ url_for('static',filename='main/img/favicon.png')}}" loading="lazy" alt="Erif"/>
                                </a>
                                <div id="w-node-_2c84d97c-00bc-8131-9da7-85de9c213216-9c21320c" class="social_share">
                                    <h5 id="w-node-_2c84d97c-00bc-8131-9da7-85de9c213217-9c21320c" class="text-color-grey footer-title">Subscribe Us</h5>
                                    <div class="social_share-row">
                                        <!--
                                        <a href="http://www.facebook.com" target="_blank" class="social_share-icon w-inline-block">
                                            <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66da9bea01e0255ac118d9f9_Social_icons_black.svg" loading="lazy" alt="Facebook" class="social_icon is-facebook"/>
                                        </a>
                                        -->
                                        <a href="https://x.com/Ame44i" target="_blank" class="social_share-icon w-inline-block">
                                            <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66da9d03eb5c0df47f957dac_X.svg" loading="lazy" alt="X" class="social_icon"/>
                                        </a>
                                        <!--
                                        <a href="http://www.instagram.com" target="_blank" class="social_share-icon w-inline-block">
                                            <img src="https://cdn.prod.website-files.com/66d714555784f849823be7fa/66da9fe6ad3721e6363b08e1_Vector%20(2)%20(1)%20(1)%201.svg" loading="lazy" alt="Instagram" class="social_icon"/>
                                        </a>
                                        -->
                                    </div>
                                </div>
                            </div>
                            <div class="footer_col is_two">
                                <div id="w-node-_2c84d97c-00bc-8131-9da7-85de9c21322b-9c21320c" class="footer_links_wr is-two">
                                    <h5 id="w-node-_2c84d97c-00bc-8131-9da7-85de9c21322c-9c21320c" class="text-color-grey footer-title">Useful links</h5>
                                    <div class="footer_col_inner is_two_inner">
                                        <a href="/" aria-current="page" class="footer_link w--current">Home</a>
                                        <a href="/" class="footer_link">About</a>
                                        <a href="/" class="footer_link">Models</a>
                                    </div>
                                </div>
                            </div>
                                <div class="two_columns">
                                    <div class="is-addres">
                                        <h5 class="text-color-alternate">Address</h5>
                                        <div class="padding-top padding-xxsmall"></div>
                                        <div class="body_one text-light">Bechar,Debdaba</div>
                                    </div>
                                    <div class="quick-contact">
                                        <div class="qc_link_wr">
                                            <h5 class="text-color-alternate">Email</h5>
                                            <div class="padding-top padding-xxsmall"></div>
                                            <a href="mailto:info@zealconsult.com" class="link-light-grey">ame.4x0@gmail.com</a>
                                        </div>
                                        <div class="qc_link_wr">
                                            <h5 class="text-color-alternate">Phone</h5>
                                            <div class="padding-top padding-xxsmall"></div>
                                            <a href="tel:18005551234" class="link-light-grey">+213#########</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="padding-global">
                    <div class="container-large">
                        <div class="w-layout-hflex copyrights">
                            <div class="body_one ligher">
                                Developed by <a href="https://github.com/AmeUr56" target="_blank" class="footer-paragraph-link text-color-white">Ameur56</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </main>
    </div>
</body>
</html>
